*{
    font-family: 'Noto Sans Mono';
    font-weight: bold;
    font-size: 12pt;
}

window {
    margin: 5px;
    color: red;
    background-color: black;
}

#input {
    margin: 5px;
    background: transparent;
    color: white;
    border: none;
}

#inner-box {
    margin: 5px;
}

#outer-box {
    margin: 5px;
    border-radius: 5px;
}

#text {
    margin: 5px;
    color: white;
}

#entry:selected {
    background-color: red;
    text-decoration: none;
    text-decoration-color: green;
}

#text:selected {
    background-color: red;
    text-decoration: none;
    text-decoration-color: red;
}