* {
	font-family: "Noto Sans Display, Awesome";
	font-size: 13px;
	padding: 1px;
}

window#waybar {
	background: transparent;
	color: #ffffff;
}

#workspaces button {
	padding: 0 5px;
	background: transparent;
	color: white;
}

#workspaces button.focused {
	color: #ffffff;
	border: 1px solid #ffffff;
}

#network {
	color: #00ff00;
	padding-left: 5px;
	padding-right: 5px;
	background: transparent;
}

#network.disconnected {
	color: #ff0000;
}

#backlight {
	color: #ffffff;
	padding-left: 5px;
	padding-right: 5px;
	background: transparent;
}

#pulseaudio {
	color: #ffffff;
	padding-left: 5px;
	padding-right: 5px;
	background: transparent;
}

#battery {
	color: #ffffff;
	padding-left: 5px;
	padding-right: 5px;
}

#clock {
	color: #ffffff;
	font-weight: bold;
}

#tray {
	padding-right: 4px;
}
